@charset "utf-8";

*{
	margin:0px;
	padding:0px;
}
ul li{
	list-style: none;
}
html,body{
	width:100%;
	height:100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.contents{
	width:100%;
	height:100%;
	
	/*-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;*/
}
.contents .header{
	width:100%;
	height:10%;
	border-bottom: 1px solid #000;
	background: rgba(0,255,0,0.7);
	display: -webkit-box;
	display: -moz-box;
	display: box;
	color:#000;
	font-size:50px;
	margin-right:0px;
}
.contents .header div:nth-child(1){
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-box-flex: 2;
	box-flex: 2;
	
	position: relative;
}
.contents .header div:nth-child(2){
	height:100%;
	text-align: center;
	line-height: 100%;
	-webkit-box-flex: 6;
	-moz-box-flex: 6;
	-ms-box-flex: 6;
	box-flex: 6;
	
	position: relative;
}
.contents .header div:nth-child(3){
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-box-flex: 2;
	box-flex: 2;
	
	position: relative;
}
.contents .header div span{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align:center;
	transform: translate(-50%, -50%);
}
.contents .page{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.contents .page{
	width:200px;
	height:50px;
	position:fixed;
	top:11%;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
	-webkit-transform: translateX(-180px);
	-moz-transform: translateX(-180px);
	-ms-transform: translateX(-180px);
	-o-transform: translateX(-180px);
	transform: translateX(-180px);
}
.contents .page:hover{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.contents .bg{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.contents .bg{
	width:200px;
	height:50px;
	position:fixed;
	top:21%;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
	-webkit-transform: translateX(-180px);
	-moz-transform: translateX(-180px);
	-ms-transform: translateX(-180px);
	-o-transform: translateX(-180px);
	transform: translateX(-180px);
}
.contents .bg:hover{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.contents .bg span{
	display: block;
	float:left;
	margin-right:5px;
	margin-top:5px;
	width:40px;
	height:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.contents .bg span:nth-child(1){
	background: #C0A16B;
}
.contents .bg span:nth-child(2){
	background: #C1E2B3;
}
.contents .bg span:nth-child(3){
	background: #00CCCC;
}
.contents .bg span:nth-child(4){
	background: #C76410;
}
.contents .content{
	width:100%;
	height:80%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	font-size: 30px;
	margin-right:0px;
}
.contents .content p{
	padding-top:1%;
	padding-left:2%;
	padding-right:2%;
}
.contents .footer{
	width:100%;
	height:10%;
	background: #fff;
	position: fixed;
	margin-right:0px;
}
.contents .footer div{
	width:49.5%;
	height:100%;
	float:left;
	background: #C0A16B;
	text-align: center;
	font-size: 44px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.contents .footer div:nth-child(1){
	margin-right:1%;
}
.contents .footer div span{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align:center;
	transform: translate(-50%, -50%);
	
}


















