.ft-sm {
  font-size: 12px !important;
}

.ft-md  {
  font-size: 14px !important;
}

.ft-lg  {
  font-size: 16px !important;
}

.ft-18  {
  font-size: 18px !important;
}

.ft-24  {
  font-size: 24px !important;
}

.ft-32  {
  font-size: 32px !important;
}

.ft-64  {
  font-size: 64px !important;
}