// @import '@/assets/style/baseColor.scss';

/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
*{box-sizing: border-box;}
html, body {
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  font-size:14px;
  color:#333;
}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  // letter-spacing:2px;
}
ul,ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  outline: none;
  border: none;
}

input:focus, button:focus { 
  outline:none 
} 

textarea {
  resize: none;
  overflow: auto;
}

.f-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-sb-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ------- 系统布局样式 -------

body > .el-container {
  margin-bottom: 40px;
}

// -------------------------

.el-table{
  color: #333;
}

.el-table.th-size-12 {
  .el-table__header tr{
    font-size: 12px;
  }
}

.el-select-dropdown__item{
  padding: 0 20px;
}

::v-deep .el-main{
  .el-input{
    height: 30px;
  }
  .el-input__inner{
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
  }
  .el-input__icon{
    line-height: 30px;
  }
  .el-select{
    height: 30px;
  }
  .el-button{
    border-radius: 0;
    height: 30px;
    padding: 0 15px;
    // line-height: 30px;
  }
  .el-button--primary.linear{
    background:linear-gradient(298deg,rgba(70,140,235,1) 0%,rgba(53,171,255,1) 100%);
  }
  .el-button--primary.is-plain{
    background-color: #fff;
  }
  .el-checkbox__inner{
    border-radius: 0;
  }
}


.btn-a{
  color: #3285E8;
  cursor: pointer;
}

// ------- 小标题样式 -------
::v-deep .min-title{
  font-size: 18px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin: 5px 0;
}
::v-deep .min-title::before{
  content: ' ';
  display: inline-block;
  height: 18px;
  width: 4px;
  background-color: #3285E8;
  margin-right: 8px;
}

// ------- 日期公共样式 -------
.el-date-editor {
  // .el-input__inner {
  //   padding-left: 10px;
  // }
  // .el-input__prefix {
  //   left: unset;
  //   right: 5px;
  // }
}


// ------- 普通表格样式 -------
.com-table {
  margin-bottom: 10px;
  border: none;
  thead.is-group th{
    background: #f7fbfc;
  }
  .el-table__header th{
    border: none;
    padding: 0;
    background-color: #f7fbfc;
    height: 28px;
    line-height: 28px;
  }
  .el-table__body td{
    border: none;
    padding: 0;
  }
  .el-table__fixed::before, .el-table__fixed-right::before{
    height: 0;
  }
  .operate-btn{
    padding: 0;
    font-size: 14px;
  }
  .el-table__row{
    height: 30px;
  }
  // .el-table--border th, .el-table--border td{
  //   border: none;
  // }
}
.com-table::before, .com-table::after{
  height: 0;
}

// -------------------------

// ---------- label切换样式 ----------
.tab-label{
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  height: 26px;
  label{
    transition: all .3s;
    padding: 0 3px;
    cursor: pointer;
  }
  label.active{
    // font-size: 18px;
    color: #3285E8;
    font-weight: 500;
  }
}
// --------------------------

// --------- 条件搜索栏样式 ---------
.set-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  .lt, .rt{
    display: flex;
    align-items: center;
    >div{
      // margin-right: 10px;
    }
  }
  .rt > div{
    margin: 0 0 0 10px;
  }
  .level-search{
    cursor: pointer;
    margin-left: 15px;
    line-height: 30px;
    // width: 90px;
    color: #3285E8;
    >i{
      margin-left: 5px;
    }
  }
  .set-btn{
    font-size: 18px;
    padding: 0 10px;
    color: #3285E8;
  }
}
// ----------------------------

// -------- 数据显示样式1 ---------
.data-bar{
  >ul{
    display: flex;
    align-items: center;
    >li{
      width: 120px;
      margin-right: 20px;
      >strong{
        font-weight: normal;
        font-size: 12px;
        color: #7c8c9c;
      }
      >span{
        display: block;
        font-size: 22px;
        font-weight: 400;
      }
    }
  }
}

// -------- 侧滑dialog样式 ---------
.el-drawer__header > :first-child{
  display: none;
}
.el-drawer__header{
  padding: 2px;
  margin-bottom: 15px;
}
.el-drawer__close-btn{
  font-size: 18px;
}
.el-drawer__body .el-input.is-disabled .el-input__inner{
  color: #333;
}
// --------------------------
