@import "../vars.scss";

.bg {
    background-color: $bg-color !important;
}

.bg-body {
    background-color: $bg-body-color !important;
}

.bg-head {
    background-color: $bg-head-color !important;
}