@charset "UTF-8"; 
@function px2rem( $px ) {
    @return $px*750/$designWidth/20 + rem; //这句是不是感觉很熟悉 这句其实跟上面的那段js是对应的 
}
$designWidth: 750; //如设计图是750
.banner {
    width: px2rem(300);
    height: px2rem(200);
    background: red;
}
//如设计稿上的banner是300px 就免去计算环节