/* components/table/lengthways.wxss */
.lengthways {
	display: flex;
	color: #333;
	font-size: 0.4rem;
}
.lengthways-label {
	background-color: #f5f5f5;
	font-weight: bold;
	padding: 0 0.5rem;
}
.label-item {
	height: 1rem;
	width: 100%;
	align-items: center;
}
.lengthways-content {
	flex: 1;
	display: flex;
	overflow: auto;
}
.lengthways-item {
	flex-shrink: 0;
	flex: 1;
	text-align: right;
	padding: 0 0.3rem;
	min-width: 3.2rem;
	border-right: 1px solid #eaeaea;
}
