{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/prettier"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "generator-star-spacing": "off",
    "no-irregular-whitespace": "off",
    "no-tabs": "off",
    "indent": [
      0,
      2
    ],
    "prettier/prettier": "off"
  }
}
