*{
	margin:0px;
	padding:0px;
}
.box{
	width:330px;
	height:450px;
	margin:40px auto;
	border-radius:15px;
	background: #CCCCCC;
	padding-top:50px;
}
.box .boxOne{
	width:300px;
	height:400px;
	margin:0 auto;
	background: #fff;
}
.box .boxOne .top{
	width:300px;
	height:60px;
	padding-top:40px;
}
.box .boxOne .top .btn{
	width:60px;
	height:20px;
	border-radius: 10px;
	margin:0 auto;
	background: #CCCCCC;
	position:relative;
}
.box .boxOne .top .btn .circle{
	width:20px;
	height:20px;
	border-radius: 10px;
	background: #fff;
	position:absolute;
}
.box .boxOne .bottom{
	width:300px;
	height:300px;
	background:red;
}
.box .boxOne .bottom .text{
	width:300px;
	height:300px;
	color:#fff;
	border:none;
	font-size: 20px;
	text-indent: 10px;
	overflow-x: hidden;
	background:#FFC0CB;
}
















