.app-project-selector {
	display: flex;
	align-items: center;
}
.project-name {
	max-width: 130rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.app-project-selector .app-project-selector-icon {
	margin-left: 10rpx;
	width: 20rpx;
	height: 10rpx;
}

.project-leader {
	display: flex;
	align-items: center;
	margin-left: 20rpx;
}
.project-leader-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999999;
}
/* 项目总 */
.leader-modal-inner {
	position: absolute;
	/* width: 480rpx; */
	width: 100%;
	opacity: 0.9;
	top: 20%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 2;
}
.leader-modal-inner-content {
	background: #ffffff;
	padding: 48rpx;
	width: 480rpx;
	box-shadow: 3rpx 3rpx 6rpx 0rpx rgba(0, 0, 0, 0.18);
}
.leader-name {
	font-size: 40rpx;
	font-weight: 600;
	padding: 10rpx 0;
	color: rgb(70, 67, 67);
	margin-bottom: 25rpx;
	overflow: visible;
}
.leader-avatar {
	width: 52rpx;
	height: 52rpx;
	margin-right: 14rpx;
}
.leader-title {
	font-size: 28rpx;
	width: 90%;
	color: #333;
	width: 100%;
	line-height: 1.2;
	margin: 7px 0;
}
uni-cover-view.leader-title{
	    white-space: normal;
}
.uni-cover-view{
	line-height: 1.2 ;
	width: 90%;
}
.leader-phone{
	color:#3A96BD;
	text-decoration:none;
}
.leader-close {
	width: 80rpx;
	height: 80rpx;
	border-radius: 50%;
	background-color: #fff;
	line-height: 80rpx;
	text-align: center;
	color: rgb(70, 67, 67);
	margin-top: 30rpx;
}
