@charset "UTF-8";
@function r( $px) {
    @return $px*7.2/$designWidth+rem;
}
$designWidth: 750; //写scss之前，必须要先定义designWidth。
*{
    margin:0px;
    padding:0px;
}
body {
    font-size: r(12);
}
.f30{
    font-size: r(30);
}
.box{
	height:r(100);
	background:red;

}
div{
    height:r(88);
    background:skyblue;
}

