.app-page-main {
    width: 1112px;
    height: 820px;
    padding: 0 24px;
    margin: 0 auto;
    background: #f6f5ee;
  
    .input-with-select .el-input-group__prepend {
      background-color: #fff;
    }
    .budget-total {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      .income {
        width: 274px;
        height: 32px;
        background: #fdfcfa;
        border-radius: 16px;
        .boldsize {
          font-size: 16px !important;
          font-family: MicrosoftYaHei-Bold, MicrosoftYaHei !important;
          font-weight: bold !important;
          color: #16406d !important;
        }
        ::v-deep.el-menu--horizontal > .el-menu-item {
          height: 32px;
          line-height: 32px;
        }
        ::v-deep.el-menu {
          border-radius: 16px;
        }
        ::v-deep.el-menu-item {
          padding: 0;
          margin-left: 36px;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: #050101;
        }
      }
      .budget {
        width: 172px;
        height: 32px;
        background: #1c4c7f;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: #ffffff;
          line-height: 14px;
        }
      }
      ::v-deep.el-input__inner {
        height: 32px !important;
      }
    }
    .budget-table {
      ::v-deep .el-table td {
        background: #f6f5ee;
      }
      ::v-deep.el-table th {
        background: #e5e2de !important;
        padding: 0;
      }
      ::v-deep.caret-wrapper {
        display: none;
      }
      ::v-deep.el-table th:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      ::v-deep.cell {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: #050101;
        p {
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: #1c4c7f;
        }
        img {
          vertical-align: middle;
        }
      }
      ::v-deep.el-table tr {
        background: #f6f5ee;
      }
      ::v-deep.has-gutter {
        background: #f6f5ee;
      }
      ::v-deep.el-table--enable-row-hover
        .el-table__body
        tr:hover
        > td:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: #e5e2de;
      }
      ::v-deep.el-table--enable-row-hover
        .el-table__body
        tr:hover
        > td:nth-last-child(1) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #e5e2de;
        //  color: #48A0C3  !important ;
      }
      ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: #e5e2de;
      }
      ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td > .cell {
        color: #48a0c3;
      }
      ::v-deep.el-table--enable-row-hover
        .el-table__body
        tr:hover
        > td
        > .cell
        > p {
        color: #48a0c3;
      }
      ::v-deep.el-table--enable-row-transition .el-table__body td {
        transition: background-color -1s ease;
      }
      ::v-deep .el-table__header-wrapper {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      ::v-deep.el-table,
      .el-table__expanded-cell {
        background: #f6f5ee;
      }
      ::v-deep.el-table td,
      .el-table th {
        padding: 0;
      }
      ::v-deep.el-table__row td .cell {
        height: 36px !important;
        line-height: 36px;
      }
      .solt-icon {
        i {
          margin-left: 8px;
        }
      }
    }
    .paging {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .paging-data {
        p {
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: #848382;
        }
      }
      .paging-option {
        display: flex;
        ::v-deep .el-input__inner {
          padding: 0;
          height: 24px;
          width: 80px;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: #050101;
          background: #f6f5ee;
          border: none;
          padding-top: 4px;
        }
        ::v-deep.el-divider--vertical {
          height: 30px;
          margin: 0 8px 0 -9px;
          background: #e7e8e9;
        }
        ::v-deep.el-input__suffix {
          display: flex;
          align-items: center;
        }
        ::v-deep.el-input__icon {
          line-height: 0;
        }
        ::v-deep.el-input--suffix {
          display: flex;
          align-items: center;
        }
        ::v-deep.el-pager li {
          min-width: 0;
          height: 24px;
          line-height: 24px;
        }
        ::v-deep.el-pager li.active {
          font-size: 14px;
          font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
          font-weight: bold;
          color: #1c4c7f;
          line-height: 24px;
        }
        ::v-deep.el-pagination button,
        .el-pagination span:not([class*="suffix"]) {
          height: 24px;
          line-height: 24px;
        }
      }
      ::v-deep.el-pagination button {
        background: #f6f5ee;
      }
      ::v-deep.number {
        background: #f6f5ee !important ;
      }
    }
  }