@charset "utf-8";
[v-cloak] {
    display: none;
}
.home {
    /* width: 1060px; */
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 101px;
    background: #FFFFFF;
}

.header .logo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #F2F3F5;
}

.header .logo img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    cursor: pointer;
}

.header .logo span {
    margin-right: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    line-height: 20px;
    cursor: pointer;
}
.header .tab-header{
    display: flex;
    justify-content: space-between;
    margin:0 20px;
}
.el-tabs__header{
    margin:0;
}
.tab-btn .el-tabs__nav-wrap::after{
    background-color: transparent;
}
.tab-btn .el-tabs__item.is-active{
    color: #3B96BE;
}
.tab-btn .el-tabs__active-bar{
    background-color: #2D9FCB;
}
.tab-btn .el-tabs__item:hover{
    color: #3B96BE;
}
.date-report{
    display: flex;
    align-items: center;
}
.date-report .report{
    margin-right: 37px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #3B96BE;
    line-height: 20px;
    cursor: pointer;
}
.date-report .value{
    color:#7D8894
}
.date-report .el-date-editor.el-input{
    width: 20px;
}
.date-report .time-icon{
    margin-right: 15px;
}
.date-report .time-icon .el-input__inner{
    display: none;
}
.date-report .time-icon .el-input__prefix{
    top: -25px;
    cursor: pointer;
}




.content {
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 51px);
    padding:0 24px 0 27px;
    margin-top: 30px;
}
.content .ztgk{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.content .ztgk-left{
    display: inline-block;
    flex:1 1 639px;
    margin-right: 24px;
}
.title{
    font-size: 16px;
    margin-bottom: 8px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.ztgk-left .card{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    height: 133px;
    /* align-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-direction: wrap; */
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px 20px 10px;
    margin-top: 8px;
}
.ztgk-left .card .card-col{
    display: flex;
}
.ztgk-left .card .card-col div{
    flex:1;
}

/* .ztgk-left .card div{
    width: 145px;
    margin-bottom: 8px;
} */
.ztgk-left .card .card-col div span{
    display: block;
}
.ztgk-left .card .card-col div span:first-child{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}
.ztgk-left .card .card-col div span:last-child{
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #3B96BE;
    line-height: 40px;
}

.content .ztgk-right{
    display: inline-block;
    flex:1 1 375px;
}
.ztgk-right .card{
    display: flex;
    width: calc(100% - 50px);
    height: 135px;
    align-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-direction: wrap;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 14px 30px 14px 20px;
    margin-top: 8px;
}
.ztgk-right .tab-box{
    display: flex;
    justify-content: space-between;
}
.tab-box .tab{
    display: flex;
    font-size: 16px;
    color: #7D8894;
}
.tab-box .tab span{
    cursor: pointer;
}
.tab-box .tab span.active{
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #2D9FCB;
    line-height: 22px;
}
.tab-box .tab span.line:after{
    content: "";
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #ccc;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.ztgk-right .tab-box .more{
    cursor: pointer;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #3B96BE;
    line-height: 20px;
}
.ztgk-right .card ul li{
    margin-bottom: 10px;
}
.ztgk-right .card ul{
    width: 100%;
}
.ztgk-right .card ul li:last-child{
    margin-bottom: 0px;
}
.ztgk-right .card ul li div:first-child{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
}
.ztgk-right .card ul li div:first-child span:first-child{
    margin-right: 10px;
}
.ztgk-right .card ul li div:first-child span:last-child{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #3B96BE;
}
.ztgk-right .card ul li div:last-child{
    font-size: 12px;
    margin-top: 5px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #7D8894;
    line-height: 12px;
}
.ztgk-right .card ul li div:last-child span:first-child{
    margin: 0 25px 0 0px;
}

.yyfx{
    margin-top: 20px;
}
.yyfx-content{
    display: flex;
    width: calc(100% - 40px);
    height: 149px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
}
.yyfx-content .info-box{
    flex:1;
    margin-right: 35px;
    border-right: 1px solid #F4F6F8;
}
.yyfx-content .info-box:last-child{
    border-right: none;
    margin-right: 0;
}
.yyfx-content .info-box .info-title{
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    margin-bottom: 19px;
}
.yyfx-content .info-box .info-title:before {
    content: "";
    padding-left: 8px;
    border-left: 2px solid #2D9FCB;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.yyfx-content .info-box .info-detail{
    display: flex;
    flex-direction: column;
}
.yyfx-content .info-box .info-detail .detail-col{
    display: flex;
}
.yyfx-content .info-box .info-detail .detail-col .detail-left{
    flex:1 1  125px;
    margin-bottom: 7px;
}
.yyfx-content .info-box .info-detail .detail-col .detail-right{
    flex:1 1 90px;
    margin-bottom: 7px;
}
.yyfx-content .info-box .info-detail .category{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}

.yyfx-content .info-box .info-detail .category-value{
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 28px;
}
.yyfx-content .info-box .info-detail .category-value .up{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #71C381;
    line-height: 20px;
}
.yyfx-content .info-box .info-detail .category-value .down{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FF4954;
    line-height: 20px;
}
.yyfx-content .info-box .info-detail .category-value span{
    display: inline;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 3px;
}

.yyfx-content .info-box .info-detail .category-value span.red{
    color: #FF4954;
}
.yyfx-content .info-box .info-detail .category-value span.green{
    color: #71C381;
}
.yyfx-content .info-box .info-detail .category-value img{
    display: inline-block;
    width: 8px;
    height: 10px;
}

.sr{
    margin-top: 20px;
}
.sr-content{
    display: flex;
    width: calc(100% - 40px);
    height: 344px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
}
.sr-content .info-box{
    flex:1;
    margin-right: 35px;
    border-right: 1px solid #F4F6F8;
}
.sr-content .info-box:last-child{
    border-right: none;
    margin-right: 0;
}
.sr-content .info-box .info-title{
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    margin-bottom: 19px;
}
.sr-content .info-box .info-title:before {
    content: "";
    padding-left: 8px;
    border-left: 2px solid #2D9FCB;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.sr-content .info-box .info-detail{
    /* display: flex;
    align-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-direction: wrap; */
}
.sr-content .info-box .info-detail .category-content{
    display: flex;
}
.sr-content .info-box .info-detail .category-content .category-box{
    flex: 1;
}
.sr-content .category-name{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}
.sr-content .category-value{
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 28px;
}
.sr-content .progress-info{
    margin-right: 51px;
}
.sr-content .progress-title{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    margin:14px 0 10px 0;
}
.sr-content .progress-detail{
    display: flex;
    align-items: center;
}
.sr-content .progress-detail .name{
    display: inline-block;
    width: 40px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #757F98;
    line-height: 18px;
}
.sr-content .progress-detail .progress-line{
    flex:1;
}

.qianfei{
    margin-top: 20px;
}
.qianfei-content{
    display: flex;
    width: calc(100% - 40px);
    height: 149px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
}
.qianfei-content .info-box{
    flex:1;
    margin-right: 35px;
    border-right: 1px solid #F4F6F8;
}
.qianfei-content .info-box:last-child{
    border-right: none;
    margin-right: 0;
}
.qianfei-content .info-box .info-title{
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    margin-bottom: 19px;
}
.qianfei-content .info-box .info-title:before {
    content: "";
    padding-left: 8px;
    border-left: 2px solid #2D9FCB;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.qianfei-content .info-box .info-detail{
    display: flex;
}
.qianfei-content .info-box .info-detail .detail-col{
    display: flex;
    flex-direction: column;
}
.qianfei-content .info-box .info-detail .text{
    min-width: 100px;
}
.qianfei-content .info-box .info-detail .circle{
    /* min-width: 108px;
    min-height: 108px; */
}
.qianfei-content .info-box .info-detail .detail-col .detail-left{
    flex:1;
    margin-bottom: 7px;
}
.qianfei-content .info-box .info-detail .detail-col .detail-left span{
    display: block;
}
.qianfei-content .info-box .info-detail .detail-col .detail-left .category{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}
.qianfei-content .info-box .info-detail .detail-col .detail-left .category-value{
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FF4954;
    line-height: 28px;
}

.yujing{
    margin-top: 20px;
}
.yujing-content{
    display: flex;
    width: calc(100% - 40px);
    height: 149px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
}
.yujing-content .info-box{
    margin-right: 35px;
    border-right: 1px solid #F4F6F8;
}
.yujing-content .info-box:first-child{
    flex:1;
}
.yujing-content .info-box:nth-child(2){
    flex:3;
}
.yujing-content .info-box:last-child{
    flex:1;
    border-right: none;
    margin-right: 0;
}
.yujing-content .info-box .info-title{
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    margin-bottom: 19px;
}
.yujing-content .info-box .info-title:before {
    content: "";
    padding-left: 8px;
    border-left: 2px solid #2D9FCB;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
.yujing-content .info-box .info-detail .detail-item span{
    display: block;
}
.yujing-content .info-box .info-detail .detail-item .category{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}
.yujing-content .info-box .info-detail .detail-item .category-value{
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
}

.yujing-content .info-box .info-detail .detail-col-top{
    display: flex;
    margin-bottom: 7px;
}
.yujing-content .info-box .info-detail .detail-col-bottom{
    display: flex;
}
.yujing-content .detail-item{
    flex:1;
}


.footer {
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #7D8894;
    line-height: 17px;
}

.el-progress{
    width: 100%;
    display: inline-flex;
    align-items: baseline;
}
.el-progress__text {
    font-size: 14.4px;
    display: inline-block;
    width: 60px;
    font-size: 14.4px;
    color: #333333;
}

.el-progress-bar__outer {
    height: 6px !important;
}
.el-progress-bar {
    /* margin-right: -42px; */
}
/* 渐变进度条 */
.el-bg-inner-curMonth .el-progress-bar__inner {
    background: linear-gradient(224deg, #00ECFF 0%, #3096EF 100%);
}

.el-bg-inner-yearTotal .el-progress-bar__inner {
    background: linear-gradient(210deg, #AFE948 0%, #58BB30 100%);
}

.el-drawer{
    outline: none;
}
.el-drawer .report-label{
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: bold;
    line-height: 41px;
    color: #333;
}
.el-drawer__body{
    outline: none;
}
.dialog-close-icon{
    right: 288px;
    width: 25px;
    height: 142px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    margin-top: -71px;
    border-radius: 13px;
    cursor: pointer;
}
.dialog-close-icon i{
    display: block;
    border: 6px solid transparent;
    border-left: 6px solid #98A9BC;
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -6px;
}
.drawerBudget-detail .fast-top-bar {
    padding: 0 20px;
    height: 44px;
    outline: none;
    align-items: center;
    background-color: #F2F4F6;
}
.drawerBudget-detail .fast-top-bar button {
    border-radius: 0;
}
.drawerBudget-detail .fast-top-bar .el-button--success {
    background: linear-gradient(298deg, #468ceb 0%, #35abff 100%);
    border: 0;
    padding: 8px 17px;
}
.drawerBudget-detail .fast-top-bar .el-button--default {
    border: 0;
    padding: 8px 17px;
}
.drawerBudget-detail .con {
    padding: 0 50px;
    height: calc(100vh - 84px);
    overflow-y: auto;
}
.drawerBudget-detail .con .drawerBudget-newBunk {
    padding-top: 20px;
}
.header-list dl {
    line-height: 28px;
}
.drawerBudget-detail  .el-checkbox__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}
.header-list .is-checked .el-checkbox__label {
    color: #333;
}
.header-list dd{
    margin-left: 15px;
}

.svg {
    transform: rotate(-90deg);
}
