
// 字体颜色
$font-base-color: #333;
$font-sub-color: #000;
$font-record-color: #3F8DF9;

$font-word-color: #050101;


// 字体大小
$font-base-size: 14px;
$font-title-size: 18px;
$font-record-size: 24px;
$common-margin-top: 16px;
$common-padding-bottom: 16px;
$common-margin-bottom: 10px;
$mini-margin: 8px;