$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#515050;							//菜单背景
$menuColor:#fff;							//菜单文字颜色
$menuHover:#359C67;							//菜单hover背景


$borderBottom:#666;						//菜单底边线颜色



// 整体风格颜色

$--color-primary: #359C67;					//全局主体色
$--color-primary2: #046C4F;					//全局主体色-----用于重要文字，点击后的文字，文字icon，文字链接，通常配合加粗使用

$contentColor:#000;							//内容颜色

$theadColor:#333;							//表头文字颜色

$formLabelColor:#333;						//表单label文字颜色

$tabColor:#333;								//面包屑、tab

$tabColor2:#888;							//面包屑非活动

$assistColor:#666666;						//辅助文字颜色

$theadBg:#FAFAFA;							//表头背景


$approvedStatusColor:#359C67;				//审批通过颜色
$approvingStatusColor:#B8D87E;				//审批中颜色
$errorColor:#FF4F4F;						//错误颜色
$recallColor:#FF902A;						//驳回颜色
$cancelColor:#888888;						//撤回颜色
