.app-page-main {
    width: 100%;
    height: calc(100% - 100px);
    padding: 0 24px 20px 0;
    box-sizing: border-box;
    margin: 0 auto;
    background: #f6f5ee;
    ::v-deep .caret-wrapper{
 display:none !important;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .tabhead{
        .table-header{
            width: 150px;
            height: 32px;
            background-color: #FDFCFA;
            border-radius: 16px;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 14px;
            color:#848382;
            p{
                cursor: pointer;
            }
            .active{
                position: relative;
                padding-bottom: 3px;
                font-size: 16px;
                font-weight: bold;
                color: #1C4C7F;
                &::after{
                    content:'';
                    display:block;
                    width:110%;
                    height:2px;
                    position:absolute;
                    bottom:-4px;
                    right: -1px;
                    background:#1C4C7F;
                    transition:all 0.3s ease-in-out;
                    transform: scale3d(1,1,1);
                    transform-origin:50% 0;
                }
            }
        }
    }


    .ranking-table {
        .inforhead{
            width: 100%;
            height: 30px;
            position: relative;
            border-bottom: 1px solid #D1CEC9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            font-weight: bold;
            .up{
                font-size: 12px;
                color: #050101;
                cursor: pointer;
            }
            .xian{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 122px;
                height: 1px;
                background: #050101;                
            }
        }

        margin-top: 10px;
        ::v-deep .el-table td {
            background: #f6f5ee;
        }

        ::v-deep.el-table th {
            background: #e5e2de !important;
            padding: 0;
        }

        ::v-deep.el-table th:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        ::v-deep.cell {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #050101;
            display: flex;
            align-items: center;
        }

        ::v-deep.el-table tr {
            background: #f6f5ee;
            
        }

        ::v-deep.has-gutter {
            background: #f6f5ee;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #e5e2de;
        }
        ::v-deep.el-table--enable-row-hover .el-table__body tr{
            &:hover{
                background-color: #E5E2DE;
                border-radius: 20px;
                .cell{
                    color: #48A0C3 !important;
                }
            }
        }

        ::v-deep.el-table,
        .el-table__expanded-cell {
            background: #f6f5ee;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: #e5e2de;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td:nth-last-child(1) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #e5e2de;
            //  color: #48A0C3  !important ;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #e5e2de;
        }

        ::v-deep .el-table__header-wrapper {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            position: relative;
        }
        ::v-deep .el-table td {
            background: #f6f5ee;
          }
          ::v-deep.el-table th {
            background: #e5e2de !important;
            padding: 0;
          }
          ::v-deep.el-table th:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
          ::v-deep.cell {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #050101;
            p {
              font-size: 14px;
              font-family: MicrosoftYaHei;
              color: #1c4c7f;
            }
            img {
              vertical-align: middle;
            }
          }
          ::v-deep.el-table tr {
            background: #f6f5ee;
          }
          ::v-deep.has-gutter {
            background: #f6f5ee;
          }
          ::v-deep.el-table--enable-row-hover
            .el-table__body
            tr:hover
            > td:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: #e5e2de;
          }
          ::v-deep.el-table--enable-row-hover
            .el-table__body
            tr:hover
            > td:nth-last-child(1) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #e5e2de;
            //  color: #48A0C3  !important ;
          }
          ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td {
            background-color: #e5e2de;
          }
          ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td > .cell {
            color: #48a0c3;
          }
          ::v-deep.el-table--enable-row-hover
            .el-table__body
            tr:hover
            > td
            > .cell
            > p {
            color: #48a0c3;
          }
          ::v-deep.el-table--enable-row-transition .el-table__body td {
            transition: background-color -1s ease;
          }
          ::v-deep .el-table__header-wrapper {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
          ::v-deep.el-table,
          .el-table__expanded-cell {
            background: #f6f5ee;
          }
          ::v-deep.el-table td,
          .el-table th {
            padding: 0;
          }
          ::v-deep.el-table__row td .cell {
            height: 36px !important;
            line-height: 36px;
          }
          .solt-icon {
            i {
              margin-left: 8px;
            }
          }
        // ::v-deep.el-table,
        // .el-table__expanded-cell {
        //     background: #f6f5ee;
        // }

        ::v-deep.el-table td,
        .el-table th {
            padding: 0;
        }

        ::v-deep.el-table__row td .cell {
            height: 36px !important;
            line-height: 36px;
        }

        .solt-icon {
            i {
                margin-left: 8px;
            }
        }
    }

    .paging {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .paging-data {
            margin-top: -5px;
            p {
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #848382;
            }
        }

        .paging-option {
            display: flex;

            ::v-deep .el-input__inner {
                padding: 0;
                height: 24px;
                width: 80px;
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #050101;
                background: #f6f5ee;
                border: none;
                padding-top: 4px;
            }

            ::v-deep.el-input__icon {
                line-height: 24px;
            }

            ::v-deep.el-pager li {
                height: 24px;
                line-height: 24px;
            }

            ::v-deep.el-pagination button,
            .el-pagination span:not([class*="suffix"]) {
                height: 24px;
                line-height: 24px;
            }
        }

        ::v-deep.el-pagination button {
            background: #f6f5ee;
        }

        ::v-deep.number {
            background: #f6f5ee !important;
        }
    }
}


.data-list{
    background-color: #F6F5EE;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .operate-wrap{
        ::v-deep.el-select{
            margin-right: 10px;
        }
        .elinput{
            width: 220px;
            margin-right: 8px;
            ::v-deep.el-input__inner{
                width: 220px;
            }
        }
        
        ::v-deep.el-input__inner{
            border: none;
            width: 150px;
            height: 32px;
            background: #FDFCFA;
            border-radius: 18px;
            &::placeholder{
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #848382;
            }
        }
        ::v-deep.el-date-editor .el-range__icon {
            line-height: 27px;
        }
        ::v-deep.el-input__inner{
             color: #050101!important;
        }
        ::v-deep.el-range-input{
            color: #050101!important;
        }
        ::v-deep.el-range-separator{
            line-height: 28px;
            color: #050101!important;
        }
        ::v-deep.el-input__icon{
            line-height: 34px;
        }
        .blue-btn{
            border: none;
            background: #1C4C7F;
            border-radius: 16px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #FFFFFF;
            margin: 0 0 0 8px;
            padding:8px 26px;
        }
        .other{
            padding:8px 6px;
        }
        .reset-btn{
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #848382;
            margin-left: 10px;
        }

        .highsearch{
            ::v-deep .el-input__inner{
                width: 100px;
                font-size: 14px;
                background-color: transparent;
                &::placeholder{
                    font-size: 14px;
                    font-family: MicrosoftYaHei;
                    color: #848382;
                }
            }
        }
    }
    
    .btn{
        display: flex;
        align-items: center;
        .see{
            border: none;
            width: 116px;
            height: 32px;
            background: #e5e2de85;
            border-radius: 16px; 
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #848382;           
        }
        .upload{
            border: none;
            width: 116px;
            height: 32px;
            background: #1c4c7f7a;
            border-radius: 16px; 
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #FFFFFF;      
            margin: 0 8px;     
        }
        .add{
            border: none;
            width: 116px;
            height: 32px;
            background: #1C4C7F;
            border-radius: 16px; 
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #FFFFFF;           
        }
    }
}
::v-deep{
    .editicon{
        display: none;
    }
    .el-table--enable-row-hover .el-table__body tr{
        &:hover{
            .editicon{
                display: inline;
            }
        }
    }
}

.data-list{
    background-color: #F6F5EE;
    margin-bottom: 12px;
    .operate-wrap{
        ::v-deep.el-select{
            margin-right: 10px;
        }
        ::v-deep .el-icon-arrow-up{
            &::before {
                content: "\e78f";
            }
        }
        
        ::v-deep.el-input__inner{
            border: none;
            min-width: 194px;
            height: 32px;
            background: #FDFCFA;
            border-radius: 18px;
            
            &::placeholder{
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #848382;
            }
        }
        ::v-deep.el-date-editor .el-range__icon {
            line-height: 27px;
        }
        ::v-deep.el-input__inner{
             color: #050101!important;
        }
        ::v-deep.el-range-input{
            color: #050101!important;
        }
        ::v-deep.el-range-separator{
            line-height: 28px;
            color: #050101!important;
        }
        ::v-deep.el-input__icon{
            line-height: 34px;
        }
        .blue-btn{
            border: none;
            width: 80px;
            height: 32px;
            background: #1C4C7F;
            border-radius: 16px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #FFFFFF;
            margin: 0 0 0 8px;
        }
        .reset-btn{
            margin-left: 10px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #848382;
        }
    }
}