// 字体颜色
$font-base-color: #333;
$font-sub-color: #000;
$font-record-color: #3F8DF9;

// 字体大小
$font-base-size: 14px;
$font-title-size: 18px;
$font-record-size: 24px;


// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$mainColor: #F6F5EE;
$activeColor: #48A0C3;
$tipsColor: #848382;
$inputBg: #FDFCFA;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$subMenuLineColor: #D1CEC9;

// 一级菜单
$menuBg:#E0DFDD;
$menuDefaultBg:#E0DFDD;
$menuHover:#1C4C7F;
$menuDefaultColor:#848382;

// 二级菜单
$subMenuBg:#E5E2DE;
$subMenuHover:#1C4C7F;



$sideBarWidth: 280px;

$font-base-color: #333;
$font-sub-color: #000;
$font-record-color: #3F8DF9;

$font-word-color: #050101;


// 字体大小
$font-base-size: 14px;
$font-title-size: 18px;
$font-record-size: 24px;

// 弹出层 背景色
$popBg: #EFEDEA;



$newUiBg:#EFEDEA;
$newUiSelect:#E5E2DE;