<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租赁表</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="./css/index.css">
    <style>
        body {
            background-color: #fff;
        }

        .list-page {
            margin: 40px;
        }

        .list-page .title {

            font-size: 18px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: bold;
            color: #333333;
            line-height: 25px;
        }

        .operation {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .list-page .tip {

            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 20px;
        }

        .el-table tr {
            background-color: #FFFFFF;
        }

        .el-table td {
            border: none;
        }

        .el-table.el-table--border th {
            border: none;
        }

        .el-table .common-column-line {
            background-color: #fff !important;
        }

        .el-table--border,
        .el-table--group {
            border: none;
        }

        .el-table th.is-center {
            text-align: center;
            border-bottom: 1px solid #dae1e7 !important;
        }

        .el-table--border::after,
        .el-table--group::after,
        .el-table::before {
            content: '';
            position: absolute;
            background-color: #fff;
            z-index: 1;
        }

        .filter-icon {
            width: 30px;
            height: 30px;
            position: relative;
            border: 1px solid #468ceb;
        }

        .filter-icon::before {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0;
            left: 0;
            background: url("./filter_icon.png") center center no-repeat;
            background-size: 25px 25px;
        }
    </style>
</head>

<body>
    <div id="app" class="home" v-cloak>
        <div class="list-page">
            <el-row class="tool-bar" type="flex" justify="space-between" align="middle" style="flex-flow: wrap;">
                <el-col :span="24">
                    <span class="title">租赁表</span>
                    <span class="tip">金额:元/面积:平面</span>
                </el-col>
            </el-row>
            <el-row class="tool-bar" type="flex" justify="space-between" align="middle"
                style="flex-flow: wrap;margin:10px 0 18px;">
                <el-col :span="18">
                    <el-select v-model="value1" multiple size="mini" placeholder="请选择">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                    <el-date-picker v-model="date1" type="date" size="mini" placeholder="开始时间">
                    </el-date-picker>
                    <span>~</span>
                    <el-date-picker v-model="date1" type="date" size="mini" placeholder="结束时间">
                    </el-date-picker>
                    <el-button size="mini">重置</el-button>
                </el-col>
                <el-col :span="6" class="operation">
                    <el-button size="mini" type="text" class="filter-icon" @click="display = true"></el-button>
                </el-col>
            </el-row>
            <el-table ref="table" :data="tableData" size="mini" border stripe header-row-class-name="table-header">

                <el-table-column show-overflow-tooltip prop="unitNo" label="项目" fixed width="100">
                    <template slot-scope="scope">
                        项目
                    </template>
                </el-table-column>
                <el-table-column show-overflow-tooltip prop="unitNo" label="开业率" fixed width="100">
                    <template slot-scope="scope">
                        开业率
                    </template>
                </el-table-column>
                <el-table-column show-overflow-tooltip prop="unitNo" label="出租率" fixed width="100">
                    <template slot-scope="scope">
                        出租率
                    </template>
                </el-table-column>

                <el-table-column width="5" class-name="common-column-line"></el-table-column>

                <el-table-column show-overflow-tooltip align="center" min-width="200"
                    v-if="headerList.filter(item =>item.value == '收入')[0].selected">
                    <template slot="header">
                        <span>收入</span>
                    </template>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="租金收入" min-width="130"
                        v-if="headerFilter('收入','租金收入')">
                        <template slot-scope="scope">
                            <div>
                                <span>3434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="物管收入" min-width="130"
                        v-if="headerFilter('收入','物管收入')">
                        <template slot-scope="scope">
                            <div>
                                <span>3434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="contCount" align="right" label="收缴率(合同)"
                        min-width="130" v-if="headerFilter('收入','收缴率(合同)')">
                        <template slot-scope="scope">
                            <div>3434</div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="stdUnitPriceZj" align="right" label="收缴率(权责)"
                        min-width="130" v-if=" headerFilter('收入','收缴率(权责)')">
                        <template slot-scope="scope">
                            <div>343434</div>
                        </template>
                    </el-table-column>
                </el-table-column>

                <el-table-column width="5" class-name="common-column-line"></el-table-column>

                <el-table-column show-overflow-tooltip align="center" min-width="200"
                    v-if="headerList.filter(item =>item.value == '客流')[0].selected">
                    <template slot="header">
                        <span>客流</span>
                    </template>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="当日客流" min-width="130"
                        v-if="headerFilter('客流','当日客流')">
                        <template slot-scope="scope">
                            <div>
                                <span>3434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="昨日客流" min-width="130"
                        v-if="headerFilter('客流','昨日客流')">
                        <template slot-scope="scope">
                            <div>
                                <span>3434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="contCount" align="right" label="客流密度" min-width="130"
                        v-if="headerFilter('客流','客流密度')">
                        <template slot-scope="scope">
                            <div>3434</div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="stdUnitPriceZj" align="right" label="累计客流(万人)"
                        min-width="130" v-if=" headerFilter('客流','累计客流(万人)')">
                        <template slot-scope="scope">
                            <div>343434</div>
                        </template>
                    </el-table-column>
                </el-table-column>

                <el-table-column width="5" class-name="common-column-line"></el-table-column>

                <el-table-column show-overflow-tooltip align="center" min-width="200"
                    v-if="headerList.filter(item =>item.value == '销售')[0].selected">
                    <template slot="header">
                        <span>销售</span>
                    </template>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="月销售额" min-width="130"
                        v-if="headerFilter('销售','月销售额')">
                        <template slot-scope="scope">
                            <div>
                                <span>3434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="月平效" min-width="130"
                        v-if="headerFilter('销售','月平效')">
                        <template slot-scope="scope">
                            <div>
                                <span>343434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="contCount" align="right" label="年累计" min-width="130"
                        v-if="headerFilter('销售','年累计')">
                        <template slot-scope="scope">
                            <div>3434</div>
                        </template>
                    </el-table-column>
                </el-table-column>

                <el-table-column width="5" class-name="common-column-line"></el-table-column>

                <el-table-column show-overflow-tooltip align="center" min-width="200"
                    v-if="headerList.filter(item =>item.value == '车流')[0].selected">
                    <template slot="header">
                        <span>车流</span>
                    </template>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="当日车流" min-width="130"
                        v-if="headerFilter('车流','当日车流')">
                        <template slot-scope="scope">
                            <div>
                                <span>34</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="2" align="right" label="昨日车流" min-width="130"
                        v-if="headerFilter('车流','昨日车流')">
                        <template slot-scope="scope">
                            <div>
                                <span>3434</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column show-overflow-tooltip prop="contCount" align="right" label="周转率" min-width="130"
                        v-if="headerFilter('车流','周转率')">
                        <template slot-scope="scope">
                            <div>34534</div>
                        </template>
                    </el-table-column>
                </el-table-column>

            </el-table>
        </div>
        <!-- 表头筛选 -->
        <drawer title="我是一个抽屉组件" direction="rtl" :display.sync="display" @save="filterSave" :width="drawerWidth"
            :mask="true" footerBtnSave="确定" footerBtnCancel="取消" :header="tableHeaders">

        </drawer>
    </div>


</body>
<script src="./js/drawer.js"></script>
<script>

    (function (win) {
        var Request = axios.create({
            timeout: 10000
        })
        Request.interceptors.request.use((config) => {
            // console.log(config);
            let token = '111';
            // config.headers['token'] = token;
            return config;
        })
        Request.interceptors.response.use((response) => {
            // console.log(response);
            return response;
        }, (err) => {
            console.log(err);
            return err;
        })
        win.$request = Request
    })(window);

    new Vue({
        el: '#app',
        data() {
            return {
                storeType: '0',
                isActive: 0,
                totalInfo: {},
                visible: false,
                value1: null,
                yearMonth: null,
                status1: '进行中',
                status2: '失败',
                progress1: 100,
                progress2: 75.22,
                strokeDasharray1: null,
                strokeDasharray2: null,
                display: false,
                drawerWidth: '30px',
                headerList: '',
                options: [{
                    value: '选项1',
                    label: '黄金糕'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                date1: '',
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1517 弄'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1519 弄'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1516 弄'
                }],
                tableHeaders: [
                    {
                        value: '基础信息',
                        selected: true,
                        indeterminate: false,
                        list: []
                    },
                    {
                        value: '收租率',
                        selected: true,
                        indeterminate: false,
                        list: []
                    },
                    {
                        value: '收入',
                        selected: true,
                        indeterminate: false,
                        list: [
                            {
                                value: '租金收入',
                                selected: true,
                            },
                            {
                                value: '物管收入',
                                selected: true,
                            },
                            {
                                value: '收缴率(合同)',
                                selected: true,
                            },
                            {
                                value: '收缴率(权责)',
                                selected: true,
                            },
                        ]
                    },
                    {
                        value: '客流',
                        selected: true,
                        indeterminate: false,
                        list: [

                            {
                                value: '当日客流',
                                selected: true,
                            },
                            {
                                value: '昨日客流',
                                selected: true,
                            },
                            {
                                value: '客流密度',
                                selected: true,
                            },
                            {
                                value: '累计客流(万人)',
                                selected: true,
                            },
                        ]
                    },
                    {
                        value: '销售',
                        selected: true,
                        indeterminate: false,
                        list: [
                            {
                                value: '月销售额',
                                selected: true,
                            },
                            {
                                value: '月平效',
                                selected: true,
                            },
                            {
                                value: '年累计',
                                selected: true,
                            }
                        ],
                    },
                    {
                        value: '车流',
                        selected: true,
                        indeterminate: false,
                        list: [
                            {
                                value: '当日车流',
                                selected: true,
                            },
                            {
                                value: '昨日车流',
                                selected: true,
                            },
                            {
                                value: '周转率',
                                selected: true,
                            }
                        ],
                    }
                ],
            }
        },
        watch: {
            'headerList': {
                handler(newName, oldName) {
                    this.$nextTick(() => {
                        this.$refs.table.doLayout(); //解决表格错位
                    })
                },
                immediate: true,
                deep: true
            },
        },
        created() {
            this.headerList = JSON.parse(JSON.stringify(this.tableHeaders))
        },
        mounted() {
            this.getTotalInfo();
        },
        methods: {

            tabFunc: function (index) {
                this.isActive = index;
            },
            filterSave: function (data) {
                this.display = data;
                this.headerList = JSON.parse(JSON.stringify(this.tableHeaders));
                console.log(this.headerList);
            },
            showDrawer: function () {
                this.display = true;
            },
            //过滤
            headerFilter(parentVal, val) {
                let arr = this.headerList.filter(item => item.value == parentVal);
                if (arr[0].list) {
                    let list = arr[0].list;
                    return list.filter(obj => obj.value == val)[0].selected
                }
            },
            getTotalInfo: function () {
                $request.get(`http://pd.powerlong.com/open/bis-open-statistics!getTotalInfo.action?yearMonth=${this.yearMonth}&storeType=${this.storeType}`)
                    .then(res => {
                        this.totalInfo = res.data.data;
                        console.log(this.totalInfo, 'totalInfo')
                    })

            }
        }
    })
</script>

</html>