.updata-time {
  font-size: 22rpx;
  line-height: 74rpx;
  text-align: center;
  color: #c5c5c5;
}

.global-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.global-title-content {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  padding: 10rpx;
}

.global-title {
  color: #757575;
  font-size: 24rpx;
}

.global-value-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.global-value {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
  font-size: 32rpx;
}

.global-unit {
  flex: 1;
  white-space: nowrap;
  color: #B0B0B0;
  font-size: 20rpx;
  padding: 5rpx;

}

.line-bg {
  width: 100%;
  height: 20rpx;
}

.registered-channels {
  width: 100%;
  padding: 20rpx;
  background-color: #fff;
}

.members-bar {
  width: 100%;
  padding: 20rpx;
  background-color: #fff;
}

.integral-output {
  width: 100%;
  /* height: 500rpx; */
  padding: 20rpx;
  background-color: #fff;
}

.consumption-mod {
  width: 100%;
  padding: 20rpx;
  background-color: #fff;
}

.top-scroll {
  background-color: #fff;
}

.top-list {
  background-color: #fff;
  padding-top: 20rpx;
  padding-left: 20rpx;
}

.top-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 28rpx;
}

.list-item {
  padding: 0 20rpx;
  white-space: nowrap;
  color: #333333;
  font-size: 24rpx;
}

.list-item--selected {
  font-size: 30rpx;
  color: #3992BA;
}

.header-right-select {
  margin-left: 20px;
}

.slot-right {
  display: flex;
  align-items: center;
}