.box{
  width: 100%;
  height: 100%;
  padding-right: 24px;
 .top {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.branddetails { 
  height: calc(100% - 130px) ;
  padding: 10px;       
  overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 0;
      background: rgba(0, 0, 0, 0.1);
    }


}
}