// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

// $menuBg:#304156;
$menuBg:#FDFCFA;

$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

// $sideBarWidth: 210px;
$sideBarWidth: 280px;


/**   PMS菜单   开始  **/
$sideBarWidth: 280px;
$subMenuActiveHover:#1C4C7F;
$subMenuColor:#848382;
$subMenuBgColor:#FDFCFA;
$subMenuItemBgColor:#E0DFDD;
$white:#FFFFFF;
$subMenuItemBorderColor:#D1CEC9;
/**   PMS菜单   结束  **/







// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subMenuActiveHover: $subMenuActiveHover;
  white: $white;
  subMenuColor:$subMenuColor;
  subMenuBgColor:$subMenuBgColor;
  subMenuItemBgColor:$subMenuItemBgColor;
  subMenuItemBorderColor:$subMenuItemBorderColor;
}
