@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
ul,li{
	list-style: none;
}
html,body{
	width:100%;
	min-width:320px;
}
a{
	text-decoration: none!important;
}
/*初始化结束*/


header{
	width:100%;
	height:.74rem;
	display: flex;
	align-items: center; /*定义body的元素垂直居中*/
	justify-content: center; /*定义body的里的元素水平居中*/
	background-color: #0F91C5;
}
header a{
	color:#fff!important;
	font-size: 0.31rem;
}
.login{
	height:3.22rem;
	margin: 0.18rem .3rem ;

}
.login .logTel{
	height:0.67rem;
	width:100%;
	display: flex;
	align-items: center; /*定义body的元素垂直居中*/
	justify-content: center; /*定义body的里的元素水平居中*/
	border-bottom: 1px solid #ccc;
	margin-bottom: .54rem;
}
.login .logTel .tel{
	border:0px;
	height:60%;
	width: 100%;
	padding-left:.1rem;
	outline: none;
	font-size: 0.25rem;
}

.login .logPwd{
	height:.67rem;
	width:100%;
	display: flex;
	align-items: center; /*定义body的元素垂直居中*/
	justify-content: center; /*定义body的里的元素水平居中*/
	border-bottom: 1px solid #ccc;
	margin-bottom: .5rem;
}
.login .logPwd .password{
	border:0px;
	height:60%;
	width: 100%;
	padding-left: .1rem;
	outline: none;
	font-size: 0.25rem;
}
.login .logChge{
	display: -webkit-box;
	display: -moz-box;
	display: box;
}
.login .logChge a{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	display: block;
	color: #61B7DA;
	font-size: 0.22rem;
	text-decoration: underline!important;
}
.login .logChge a:nth-child(2){
	text-align: right;
}
.btn{
	display: flex;
	align-items: center; /*定义body的元素垂直居中*/
	justify-content: center; /*定义body的里的元素水平居中*/
	height:.76rem;
	margin: 0rem .3rem ;
	text-align: center;
	cursor: pointer;
	background-color: #0F91C5;
	color: #fff!important;
	font-size: 0.31rem;
}
/*移动端用户提示工具-----来源于android中Toast*/

.toast {
	position: fixed;
	width: 60%;
	bottom: 0.5rem;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	padding: 0.1rem;
	left: 20%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
}


/*判断=终端事是否是竖屏*/

.tip {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	text-align: center;
	display: none;
}

.tip p {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 0.3rem;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

@media (orientation:landscape) {
	.tip {
		display: block;
	}
}


/*loading效果*/
.loadEct{
	width: 2rem;
	height: 2rem;
	background-color: rgba(0,0,0,0.76);
	position: fixed;
	top:50%;
	left:50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: none;
}
.loading {
	border: 0.06rem dotted;
	width: 0.72rem;
	height: 0.72rem;
	margin: 0.64rem auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-top-color: rgba(204, 204, 204, 0.4);
	border-bottom-color: rgba(204, 204, 204, 0.1);
	border-left-color: rgba(204, 204, 204, 0.4);
	border-right-color: rgba(204, 204, 204, 0.1);
	-webkit-animation: loader 1s Linear infinite;
	animation: loader 1s Linear infinite;
}

@keyframes loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

















