html,
body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.container {
	height: 100%;
	overflow: hidden;
}

.wrapper {
	height: 100%;
	touch-action: none;
	transition: all 1000ms ease;
}

.page {
	height: 100%;
	width: 100%;
}

.page0 {
	background: #551A8B;
}

.page1 {
	background: #FF8247;
}

.page2 {
	background: #CD919E;
}

.page3 {
	background: #98FB98;
}