.app-page-main {
    width: 100%;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    margin: 0 auto;
    background: #f6f5ee;

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .ranking-data {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        .data-bj {
            margin-right: 45px;

            p {
                font-size: 14px;
                color: #050101;
                line-height: 14px;
            }

            div {
                font-size: 24px;
                color: #050101;
                line-height: 24px;
            }
        }

        .xian {
            width: 2px;
            height: 44px;
            margin-right: 45px;
            background-color: #D1CEC9;
        }
    }

    .ranking-form {
        width: 100%;

    }

    .ranking-echarts {
        height: 180px;
        padding: 10px 0 0 10px;
        display: flex;
        .ttitle{
            
            width: 236px;
            height: 25px;
            font-size: 14px;
            color: #050101;
            position: relative;
            .afterborder{
                position: absolute;
                bottom: 0;
                width: 236px;
                height: 1px;
                background: #D1CEC9;
            }
            .beforeborder{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 122px;
                height: 1px;
                background: #050101;
            }

            
        }
        .titleecharts{
            display: flex;
            align-items: center;
            margin-top: 10px;
            .titleechartsbj{
                width: 140px;
               .echartshead{
                    font-size: 14px;
                    font-weight: bold;
                    color: #1C4C7F;                       
               } 
               p{
                   width: 74px;
                    text-align: center;
                    font-size: 14px;
                    color: #050101;
               }
            }

        }

        .echarts {
            margin:8px 0;
            width: 82px;
            height: 82px;
        }
    }

    .ranking-table {
        margin-top: 40px;

        ::v-deep .el-table--border{
            border: none;
        }

        ::v-deep .el-table td {
            background: #f6f5ee;
        }

        ::v-deep.el-table th {
            background: #e5e2de !important;
            padding: 0;
        }


        ::v-deep.el-table tr:first-child th:nth-child(6) {
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            background: #f6f5ee;
            // border-bottom-right-radius: 20px;
        }
        // ::v-deep.el-table tr:last-child th:nth-child(8) {
        //     border-bottom-right-radius: 20px;
        //     background: #f6f5ee;
        // }
        // ::v-deep.el-table tr:nth-child(3) th:nth-child(16) {
        //     // border-top-right-radius: 20px;
        //     background: #f6f5ee;
        //     border-bottom-right-radius: 20px;
        // }

        ::v-deep.cell {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #050101;
        }

        ::v-deep.el-table tr {
            background: #e5e2de;

        }

        ::v-deep.has-gutter {
            background: #e5e2de;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #e5e2de;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr {
            &:hover {
                background-color: #E5E2DE;
                border-radius: 20px;

                .cell {
                    color: #48A0C3 !important;
                }
            }
        }

        ::v-deep.el-table,
        .el-table__expanded-cell {
            background: #f6f5ee;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: #e5e2de;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td:nth-last-child(1) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #e5e2de;
            //  color: #48A0C3  !important ;
        }

        ::v-deep.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #e5e2de;
        }

        ::v-deep .el-table__header-wrapper {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            position: relative;
        }

        // ::v-deep.el-table,
        // .el-table__expanded-cell {
        //     background: #f6f5ee;
        // }
        ::v-deep .el-table td {
            background: #f6f5ee;
          }
          ::v-deep.el-table th {
            background: #e5e2de !important;
            padding: 0;
          }
          ::v-deep.cell {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #050101;
            p {
              font-size: 14px;
              font-family: MicrosoftYaHei;
              color: #1c4c7f;
            }
          }
          ::v-deep.el-table tr {
            background: #f6f5ee;
          }
          ::v-deep.has-gutter {
            background: #f6f5ee;
          }
          ::v-deep.el-table--enable-row-hover
            .el-table__body
            tr:hover
            > td:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: #e5e2de;
          }
          ::v-deep.el-table--enable-row-hover
            .el-table__body
            tr:hover
            > td:nth-last-child(1) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #e5e2de;
            //  color: #48A0C3  !important ;
          }
          ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td {
            background-color: #e5e2de;
          }
          ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td > .cell {
            color: #48a0c3;
          }
          ::v-deep.el-table--enable-row-hover
            .el-table__body
            tr:hover
            > td
            > .cell
            > p {
            color: #48a0c3;
          }
          ::v-deep.el-table--enable-row-transition .el-table__body td {
            transition: background-color -1s ease;
          }
          ::v-deep .el-table__header-wrapper {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
          ::v-deep.el-table,
          .el-table__expanded-cell {
            background: #f6f5ee;
          }
          ::v-deep.el-table td,
          .el-table th {
            padding: 0;
          }
          ::v-deep.el-table__row td .cell {
            height: 36px !important;
            line-height: 36px;
          }
          .solt-icon {
            i {
              margin-left: 8px;
            }
          }
        ::v-deep.el-table td,
        .el-table th {
            padding: 0;
        }

        ::v-deep.el-table__row td .cell {
            height: 36px !important;
            line-height: 36px;
        }

        .solt-icon {
            i {
                margin-left: 8px;
            }
        }
    }

    .paging {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .paging-data {

            p {
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #848382;
            }
        }

        .paging-option {
            display: flex;

            ::v-deep .el-input__inner {
                padding: 0;
                height: 24px;
                width: 80px;
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #050101;
                background: #f6f5ee;
                border: none;
                padding-top: 4px;
            }

            ::v-deep.el-input__icon {
                line-height: 24px;
            }

            ::v-deep.el-pager li {
                height: 24px;
                line-height: 24px;
            }

            ::v-deep.el-pagination button,
            .el-pagination span:not([class*="suffix"]) {
                height: 24px;
                line-height: 24px;
            }
        }

        ::v-deep.el-pagination button {
            background: #f6f5ee;
        }

        ::v-deep.number {
            background: #f6f5ee !important;
        }
    }
}


.data-list {
    background-color: #F6F5EE;
    margin-bottom: 12px;

    .operate-wrap {
        ::v-deep.el-select {
            margin-right: 10px;
        }

        ::v-deep.el-input__inner {
            border: none;
            min-width: 194px;
            height: 32px;
            background: #FDFCFA;
            border-radius: 18px;

            &::placeholder {
                font-size: 14px;
                font-family: MicrosoftYaHei;
                color: #848382;
            }
        }

        ::v-deep.el-date-editor .el-range__icon {
            line-height: 27px;
        }

        ::v-deep.el-input__inner {
            color: #050101 !important;
        }

        ::v-deep.el-range-input {
            color: #050101 !important;
        }

        ::v-deep.el-range-separator {
            line-height: 28px;
            color: #050101 !important;
        }

        ::v-deep.el-input__icon {
            line-height: 34px;
        }

        .blue-btn {
            border: none;
            width: 80px;
            height: 32px;
            background: #1C4C7F;
            border-radius: 16px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #FFFFFF;
            margin: 0 16px 0 8px;

        }

        .reset-btn {
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: #848382;
        }
    }
}

::v-deep {
    .firsthang {
        font-weight: bold;
    }

    .secondhang {
        .cell {
            color: #1C4C7F !important;
        }
    }
}